@import 'fonts.css';
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
ul,p{
    margin: 0 !important;
}
h1{
    font-size: 35px;
    font-family: 'Futura_Bold';
    color: #f7786a;
    margin-bottom: 60px;
}
button:focus{
    outline: none !important;
}
.navbar-toggler{
    border-radius: 10px !important;
    padding: 3px 5px;
}
.navbar-toggler-icon{
    width: auto;
    height: auto;
    font-size: 27px;
}
body{
    scroll-behavior: smooth;
}
a:hover{
    text-decoration: none;
}
.navbar{
    background-color: white;
}
.navbar-brand{
    padding: 0;
}
.nav-item{
    padding: 5px 15px;
    /* background: rgba(255, 255, 255, 0.212);
    border-radius: 10px; */
    margin: 0 10px;
    
}
.dropdown-menu{
    border: none;
}
.dropdown-item{
    background: transparent;
    color: rgba(18, 18, 18, 0.678);  
    font-family: 'Futura_Bold';
    font-size: 18px;
    padding: 15px 10px;
}
.nav-item .nav-link{
    color: rgba(18, 18, 18, 0.678);  ;
    font-family: 'Futura_Bold';
    font-size: 18px;
    padding: 0 !important;
    /* border-bottom: 2px solid transparent; */
}
.nav-item:hover{
    /* border-bottom: 2px solid #e43f2f; */
    background: rgba(255, 255, 255, 0.295);
}
.social-nav a{
    padding: 5px 12px;
    font-size: 20px;
    color: rgba(18, 18, 18, 0.678);  
    background: rgba(255, 255, 255, 0.212);
    border-radius: 6px;
    margin: 0 10px;
}
.social-nav a:hover{
    background: rgba(255, 255, 255, 0.295);
}
 .human-img img{
     width: 150px;
     height: 150px;
     border-radius: 50%;
     margin-bottom: 20px;
 }
 .header-content{
     padding: 40px 0;
 }
 section{
     padding: 40px 0;
 }
 h2{
    font-size: 30px;
    font-family: 'Futura_Bold';
    color: #f7786a;
    margin-bottom: 40px;
 }
 p, a{
    font-size: 18px;
    color: rgba(18, 18, 18, 0.678);  
    font-family: 'Futura_Boo';
 }
 .human-job{
     font-size: 14px;
 }
 .human-box{
     margin-bottom: 20px;
 }
 footer{
     padding: 20px 0;
     background: white;
 }
 body{
     background: #f1f1f1;
 }
 .about-us{
    background: white;
 }
 .header-content p{
     width: 70%;
     text-align: center;
 }


 @media (max-width:1200px){
    .navbar-toggler-icon{
        color: white;
    }
    .contact h2,
    .contact p,
    .contact a,
    .contact h3{
        color: #fff;
    }
}